@model PagedViewModel<HinhAnh_HoaDonViewModel>
@{
    ViewData["Title"] = "DonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container padding-large">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row align-baseline">
                        <div class="me-2">
                            <img class="img-fluid" style="height:50px;width:50px;" />
                        </div>
                        <div>
                            <p class="no-margin">Tài Khoản Của</p>
                            <h5>@ViewBag.username</h5>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-baseline mt-2">
                        <div class="mb-3">
                            <a class="custom-a" asp-controller="User" asp-action="Details" asp-route-idnguoidung = "@ViewBag.idnguoidung" ><i class='bx bxs-user-account'></i> Thông Tin Tài Khoản</a>
                        </div>
                        <div class="mb-3">
                            <a class="custom-a activec" asp-controller="User" asp-action="DonHang" asp-route-idnguoidung="@ViewBag.idnguoidung"> <i class='bx bx-receipt'></i> Quản Lý Đơn Hàng</a>
                        </div>
                        <div class="mb-3">
                            <a class="custom-a" asp-controller="User" asp-action="DiaChi" asp-route-idnguoidung="@ViewBag.idnguoidung"><i class='bx bx-map'></i> Sổ Địa Chỉ</a>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h4 class="text-center">
                    Thông Tin Đơn Hàng
                </h4>
                <div class="card">
                    <div class="card-body">
                       <div class="row">
                           <div class="col-md-2">
                               <h6> Mã Đơn Hàng</h6>
                           </div>
                           <div class="col-md-2">
                                <h6>Ngày Mua</h6>
                           </div>
                            <div class="col-md-5">
                                <h6> Sản Phẩm</h6>
                            </div>
                            <div class="col-md-2">
                                 <h6> Tổng Tiền</h6>
                            </div>
                            <div class="col-md-1">
                                <h6> Tùy Chọn</h6>
                            </div>
                       </div>
                       <hr />
                        @foreach(var hd in Model.Items){
                            <div class="row">
                                <div class="col-md-2 d-flex flex-column justify-content-center">
                                    <h6>@hd.HoaDon.Id</h6>
                                </div>
                                <div class="col-md-2">
                                    <h6>@(hd.HoaDon.TimeStamp.ToString())</h6>
                                </div>
                                <div class="col-md-5">
                                    @foreach(var ha in hd.HinhAnh){
                                        <img class="img-fluid" style="height:50px;width:50px;" src="data:image /png;base64,@(Convert.ToBase64String(ha))" />
                                    }
                                  
                                </div>
                                <div class="col-md-2 d-flex flex-column justify-content-center">
                                    <h6> @(ChucNangChung.chuyendoitiente(hd.HoaDon.Total))</h6>
                                </div>
                                <div class="col-md-1 d-flex flex-column justify-content-center">
                                    <a asp-action="ChiTietDonHang" asp-route-iddonhang="@hd.HoaDon.Id" class="btn btn-dark"><i class='bx bx-edit'></i></a>
                                </div>
                            </div>
                            <hr />
                        }
                       
                    </div>
                    <div class="d-flex flex-row justify-content-center ">
                        <ul class="pagination">

                            <li class="page-item prev">
                                <a class="page-link" style="@(Model.PageIndex != 1  ? "" : "pointer-events: none;")color:black;" asp-controller="User" asp-action="DonHang" asp-route-page="@(Model.PageIndex - 1)" asp-route-idnguoidung="@ViewBag.idnguoidung"><i class="tf-icon bx bx-chevron-left"></i></a>
                            </li>
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.PageIndex ? "active" : "") text-black">
                                    <a class="page-link" asp-controller="User" asp-action="DonHang" asp-route-page="@i" asp-route-idnguoidung="@ViewBag.idnguoidung">@i</a>
                                </li>
                            }

                            <li class="page-item next">
                                <a style="@(Model.PageIndex != Model.TotalPages ? "" : "pointer-events: none;")color:black;" asp-controller="User" asp-action="DonHang" asp-route-page="@(Model.PageIndex + 1)" asp-route-idnguoidung="@ViewBag.idnguoidung" class="page-link"><i class="tf-icon bx bx-chevron-right"></i></a>
                            </li>

                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


