@model List<SP_GioHangViewModel>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="row d-flex flex-column text-center padding-large no-padding-bottom bg-light-blue">
    <h1 s class="justify-content-center">GIỎ HÀNG</h1>
</div>
<div class="container ps-5 pe-5">

    <div class="row d-flex justify-content-end p-2">
        <div class="col-4 d-flex justify-content-end">
            <a asp-controller="GioHang" asp-action="XoaAllCart" class="btn btn-danger">Xóa Toàn Bộ</a>
        </div>
    </div>
    <div class="row title  no-padding-bottom">
        <div class="col-md-1">
            <h5 class="text-black"></h5>
        </div>
        <div class="col-md-5">
            <h5 class="text-black">SẢN PHẨM</h5>
        </div>
        <div class="col-md-2">
            <h5 class="text-black text-center">SỐ LƯỢNG</h5>
        </div>
        <div class="col-md-3 text-center">
            <h5 class="text-black">THÀNH TIỀN</h5>
        </div>
        <div class="col-md-1 text-center">
            <h5 class="text-black"></h5>
        </div>
    </div>
    <hr />

    <div class="thanhtoan">
        <div class="cartview">
            
            @foreach (SP_GioHangViewModel gio in Model)
            {
               
                <div class="row title">
                   
                    <div class="col-md-1 d-flex justify-content-center">
                        <form method="get" asp-controller="GioHang" asp-action="Cart">
                            <input  type="hidden" name="idsanpham" value="@gio.sanPham.IdSp"/>
                            <input name="soluongmua" type="hidden"  value="@gio.soluong" >
                            <input type="checkbox" name="checkmua" style="accent-color:black;width:20px;" value="@((!gio.check).ToString())" checked="@(gio.check)" onchange="this.form.submit()" />
                            <input type="hidden" name="checkmua" value="false" />
                        </form>
                    </div>
                     
                    <div class="col-md-5">

                        <div style="float:left" class="me-2">
                            <img style="width:100px;height:100px;" class="img-fluid bg-light-blue" src="data:image /png;base64,@(Convert.ToBase64String(@gio.sanPham.HinhAnh))" />
                        </div>
                        <div>
                            <h6 class="text-black">@gio.sanPham.TenSanPham</h6>
                            <p style="font-size:15px;"><span>@gio.sanPham.ThuongHieu</span></p>
                        </div>
                    </div>
                    <div class="col-md-2 align-items-center d-flex flex-row">
                        <form method="get" asp-controller="GioHang" asp-action="Cart">
                            
                        <div class="input-group mb-3">
                            <input type="hidden" name="idsanpham" value="@gio.sanPham.IdSp" />
                            <button class="tru btn btn-outline-secondary" type="button">-</button>
                            <input name="soluongmua" type="number" class="soluong form-control text-center" value="@gio.soluong" readonly>
                            <button class="cong btn btn-outline-secondary" type="button">+</button>
                            
                        </div>

                        </form>
                    </div>
                    <div class="col-md-3 text-center align-items-center d-flex justify-content-sm-center">
                        <p><span style="font-size:18px;color:cadetblue">@((gio.sanPham.Gia * gio.soluong)?.ToString("#,##0") + "đ")</span></p>
                    </div>

                    <div class="col-md-1 align-items-center d-flex flex-row">
                        <a class="btn btn-light border-none justify-content-center" asp-asp-controller="GioHang" asp-action="XoaCart" asp-route-idsanpham="@gio.sanPham.IdSp" id="xoa">X</a>
                    </div>
                </div>
                <hr />
               
            }
           
           
        </div>

        <div class="row d-flex justify-content-end padding-small">
            <div class="col-md-6">

                <div class="shadow-none p-3 mb-5 bg-light rounded">
                    <div class="d-flex justify-content-center">
                        <h3>Thanh Toán</h3>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Tổng Tiền</h5>
                        </div>
                        <div class="col-md-4">
                            <p id="tongtien"><span style="font-size:24px;color:cadetblue"><strong>@((ViewBag.TongTien)?.ToString("#,##0") + "đ")</strong></span></p>
                        </div>
                    </div>
                    <a asp-controller="ThanhToan" id="tieptuc" asp-action="Index" style="font-size:18px;"  class="btn btn-dark w-100 padding-large">Tiếp Tục</a>
                </div>

            </div>
        </div>
    </div>

</div>


<script>
    var btntrus = document.getElementsByClassName('tru');
    for(let i =0; i< btntrus.length; i++){
        btntrus[i].addEventListener("click", function(event){
            var btn = event.target;
            var input = btn.parentElement.children[2];
            if(parseInt(input.value) > 1){
                input.value = parseInt(input.value) - 1;
            }
            btn.parentElement.parentElement.submit();
        });
    }

    var btncongs = document.getElementsByClassName('cong');
    for (let i = 0; i < btncongs.length; i++) {
        btncongs[i].addEventListener("click", function (event) {
            var btn = event.target;
            var input = btn.parentElement.children[2];
            input.value = parseInt(input.value) + 1;
            btn.parentElement.parentElement.submit();
        });
    }
  
    window.addEventListener('load', function () {
        var tongtien = document.getElementById('tongtien').children[0].children[0].innerHTML;
        var tieptuc = document.getElementById('tieptuc');
        if(tongtien == "0đ"){
            tieptuc.addEventListener("click", function (event) {
              event.preventDefault();  
            });
            //alert("Không có sản phẩm để thanh toán");
        }
        console.log(tongtien);
    });
</script>

