@model ToanBoSP_DanhMuc
@{
  
    ViewData["Title"] = "Trang chủ";
    
}


<section id="billboard" class="position-relative overflow-hidden bg-light-blue">
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <!-- caro -->
            <div class="swiper-slide">
                <div class="container " style="width: 100vw;">
                    <div class="row d-flex align-items-center" style="padding-top:150px;">
                        <div class="col-md-5">
                            <div class="banner-content">
                                <h1 class="display-4 text-uppercase text-dark pb-5">CÁC SẢN PHẨM BÀN PHÍM GIẢM 20%.</h1>
                                <a asp-controller="SanPham" asp-action="ToanBoSP" asp-route-id="@Model.banphim[0].IdDm" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">MUA NGAY</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="image-holder">
                                <img style="width: 100%;height: 100%;" src="https://product.hstatic.net/200000453251/product/tmins.vn_-_ban_phim_co_keychron_k6_nhom_blue_4f0ad1843d21471ab681cf11c30d4137_master.png" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /caro -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex flex-wrap align-items-center " style="padding-top:150px;">
                        <div class="col-md-6">
                            <div class="banner-content">
                                <h1 class="display-4 text-uppercase text-dark pb-5">NHIỀU QUÀ TẶNG HẤP DẪN KHI MUA LAPTOP</h1>
                                <a asp-controller="SanPham" asp-action="ToanBoSP" asp-route-id="@Model.manhinh[0].IdDm" class="btn btn-medium btn-dark text-uppercase btn-rounded-none ">MUA NGAY</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="image-holder">
                                <img style="width: 100%;height: 100%;" src="~/images/hehe.png" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="swiper-icon swiper-arrow swiper-arrow-next">
        <svg class="chevron-right">
            <use xlink:href="#chevron-right" />
        </svg>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-prev">
        <svg class="chevron-left">
            <use xlink:href="#chevron-left" />
        </svg>
    </div>  
</section>

<section id="mobile-products" class="product-store position-relative padding-medium">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">BÀN PHÍM</h2>
                <div class="btn-right">
                    <a asp-controller="SanPham" asp-action="ToanBoSP" asp-route-id ="@Model.banphim[0].IdDm" class="btn btn-medium btn-normal text-uppercase ">Xem tất cả</a>
                </div>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <!-- -- 1 san pham -->
                 <partial name="_hienthithongtinsp" for="banphim"/>
                    <!-- --/1 san pham -->
                  
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>
<section id="mobile-products" class="product-store position-relative padding-medium">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">CHUỘT</h2>
                <div class="btn-right">
                    <a asp-controller="SanPham" asp-action="ToanBoSP" asp-route-id="@Model.chuot[0].IdDm" class="btn btn-medium btn-normal text-uppercase ">Xem tất cả</a>
                </div>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <!-- -- 1 san pham -->
                    <partial name="_hienthithongtinsp" for="chuot" />
                    <!-- --/1 san pham -->

                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>
<section id="mobile-products" class="product-store position-relative padding-medium">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">TAI NGHE</h2>
                <div class="btn-right">
                    <a asp-controller="SanPham" asp-action="ToanBoSP" asp-route-id="@Model.tainghe[0].IdDm" class="btn btn-medium btn-normal text-uppercase ">Xem tất cả</a>
                </div>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <!-- -- 1 san pham -->
                    <partial name="_hienthithongtinsp" for="tainghe" />
                    <!-- --/1 san pham -->

                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>
<section id="mobile-products" class="product-store position-relative padding-medium">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">PC MÁY TÍNH BỘ</h2>
                <div class="btn-right">
                    <a asp-controller="SanPham" asp-action="ToanBoSP" asp-route-id="@Model.pc[0].IdDm" class="btn btn-medium btn-normal text-uppercase ">Xem tất cả</a>
                </div>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <!-- -- 1 san pham -->
                    <partial name="_hienthithongtinsp" for="pc" />
                    <!-- --/1 san pham -->

                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>
<section id="mobile-products" class="product-store position-relative padding-medium">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">LAPTOP</h2>
                <div class="btn-right">
                    <a asp-controller="SanPham" asp-action="ToanBoSP" asp-route-id="@Model.laptop[0].IdDm" class="btn btn-medium btn-normal text-uppercase ">Xem tất cả</a>
                </div>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <!-- -- 1 san pham -->
                    <partial name="_hienthithongtinsp" for="laptop" />
                    <!-- --/1 san pham -->

                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>

<section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-medium" style="background-position: right; background-repeat: no-repeat;">
    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6 col-sm-12">
            <div class="text-content offset-4 padding-medium">
                <h3>10% off</h3>
                <h2 class="display-2 pb-5 text-uppercase text-dark">SALE SẬP SÀN</h2>
                <a asp-controller="SanPham" asp-action="ToanBoSP" asp-route-id="@Model.manhinh[0].IdDm" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">XEM THÊM</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="images/SALE.png" alt="product-item" class="img-fluid">
        </div>
    </div>
</section>
<section id="mobile-products" class="product-store position-relative padding-medium">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">MÀN HÌNH</h2>
                <div class="btn-right">
                    <a asp-controller="SanPham" asp-action="ToanBoSP" asp-route-id="@Model.manhinh[0].IdDm" class="btn btn-medium btn-normal text-uppercase ">Xem tất cả</a>
                </div>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <!-- -- 1 san pham -->
                    <partial name="_hienthithongtinsp" for="manhinh" />
                    <!-- --/1 san pham -->

                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>



