@model Banphim_SanPhamViewModel
@{
    ViewData["Title"] = "BANPHIM";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<DanhMuc> danhmuctoanbo = ViewBag.danhmuc;
    string danhmucid = ViewBag.danhmucID;
    string idsanpham = ViewBag.idsp;
}

<div class="row">
<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="text-primary  mb-3"> Chọn Danh Mục Sản Phẩm Thêm</h3>
        </div>
        <div class="card-body align-items-center">
            <form method="get" asp-action="ThemChonTrangThemSP">
                <div style="float:left" class="w-50">
                    <select name="danhmuc" class="form-select" aria-label="Default select example">
                        @foreach (var x in danhmuctoanbo)
                        {
                            if (danhmucid.Trim().Equals(x.Id.Trim()))
                            {
                                <option value="@x.Id" selected>@x.TenDm</option>
                            }
                            else
                            {
                                <option value="@x.Id">@x.TenDm</option>
                            }
                        }
                    </select>
                </div>
                <input style="margin-left:20px" class="btn btn-primary" type="submit" value="Xác Nhận" />
            </form>
        </div>
    </div>
</div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <h5 class="card-header">Thêm Sản Phẩm Chuột Máy Tính</h5>
            <div class="card-body">
                <form method="post" asp-action="ThemSP_BANPHIM" enctype="multipart/form-data">
                    <input asp-for="banPhim.Id" value="@idsanpham" type="hidden" />
                    <input asp-for="banPhim.IdDanhmuc" value="@danhmucid" type="hidden" />
                    <input asp-for="SanPham.IdDm" value="@danhmucid" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="SanPham.IdSp" class="control-label"></label>
                        <input asp-for="SanPham.IdSp" value="@idsanpham" class="form-control" readonly />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="SanPham.HinhAnh" class="control-label"></label>
                        <input accept="image/*" asp-for="SanPham.uploadfile" id="chonhinhanh" type="file" class="form-control" />
                        <span asp-validation-for="SanPham.HinhAnh" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="SanPham.TenSanPham" class="control-label"></label>
                        <textarea asp-for="SanPham.TenSanPham" class="form-control" > </textarea>
                        <span asp-validation-for="SanPham.TenSanPham" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="SanPham.ThuongHieu" class="control-label"></label>
                        <input asp-for="SanPham.ThuongHieu" class="form-control" />
                        <span asp-validation-for="SanPham.ThuongHieu" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group mb-3">
                                <label asp-for="SanPham.BaoHanh" class="control-label"></label>
                                <input asp-for="SanPham.BaoHanh" class=" form-control" />
                                <span asp-validation-for="SanPham.BaoHanh" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mb-3">
                                <label asp-for="SanPham.KhoiLuong" class="control-label"></label>
                                <input asp-for="SanPham.KhoiLuong" class="form-control" placeholder="Gam" />
                                <span asp-validation-for="SanPham.KhoiLuong" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="SanPham.Gia" class="control-label"></label>
                        <input asp-for="SanPham.Gia" class="form-control" />
                        <span asp-validation-for="SanPham.Gia" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group mb-3">
                                <label asp-for="banPhim.Mau" class="control-label"></label>
                                <input asp-for="banPhim.Mau" class="form-control" />
                                <span asp-validation-for="banPhim.Mau" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mb-3">
                                <label asp-for="banPhim.Den" class="control-label"></label>
                                <input asp-for="banPhim.Den" class="form-control" />
                                <span asp-validation-for="banPhim.Den" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="banPhim.LoaiBanPhim" class="control-label"></label>
                        <input asp-for="banPhim.LoaiBanPhim" class="form-control" />
                        <span asp-validation-for="banPhim.LoaiBanPhim" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="banPhim.KichThuoc" class="control-label"></label>
                        <input asp-for="banPhim.KichThuoc" class="form-control" />
                        <span asp-validation-for="banPhim.KichThuoc" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="banPhim.KetNoi" class="control-label"></label>
                        <input asp-for="banPhim.KetNoi" class="form-control" />
                        <span asp-validation-for="banPhim.KetNoi" class="text-danger"></span>
                    </div>


                    <div class="form-group text-end">
                        <div style="float:left" class="align-text-bottom">
                            <a asp-action="ThemSP">Back to List</a>
                        </div>
                        <input type="submit" value="Thêm Sản Phẩm" class="btn btn-primary w-50" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 me-0">
        <div class="card mb-4">
            <h5 class="card-header">Hình ảnh sản phẩm</h5>
            <div class="card-body">
                <img id="hinhanh" class="img-thumbnail" src="~/default-image.jpg" />
            </div>
        </div>
    </div>
</div>

